{% extends "base-login.html" %}

{% block body_content %}

          {% if message %}
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                {% if full_name %}
                <h1 class="h4 text-gray-900 mb-4">Thank you {{full_name}}. An email is sent to {{email}} for verification. </h1>
                }
                {% elif activate == True %}
                <h1 class="h4 text-gray-900 mb-4">Your account has been activated </h1>
                <a href="/login" class="btn btn-facebook btn-user btn-block">
                  Login
                </a>
                {% elif activate == False %}
                <h1 class="h4 text-gray-900 mb-4">There was a problem when activating your email. Please contact our support @ support@gymaholic.com</h1>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          {% else %}

            <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          

          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" action="/register/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="Full Name" placeholder="Full Name" name="full_name">
                </div>
                
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="username" placeholder="Username" name="username">
                </div>
                
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="email" placeholder="Email Address" name="email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password" placeholder="Password" name="password">
                </div>

                <button class="btn btn-primary btn-user btn-block">Register Account</button>
                <hr>
                
              </form>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          {% endif %}

{% endblock %}