{% extends "gymadmin_base.html" %}

{% block gymadmin_body_content %}
<!-- Content Row -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h3 class="h3 mb-0 text-gray-800">Gyms | {{user.username}} </h3>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{gym.name}}</td>
    </tr>
    <tr>
      <th scope="row">Location</th>
      <td>{{gym.location}}</td>
    </tr>
    <tr>
      <th scope="row">Average Price:</th>
      <td>{{gym.price}}</td>
    </tr>
    <tr>
      <th scope="row">Summary:</th>
      <td>{{gym.summary | safe }}</td>
    </tr>
    <tr>
      <th scope="row">Featured Photo:</th>
      <td>{{gym.featured_photo}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}