{% extends "gymadmin_base.html" %}
{% load static %}

{% block body_css %}
 <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>
{% endblock %}  

{% block gymadmin_body_content %}
          <!-- Content Row -->
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Add Gym </h3>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm-8">
              <form action="/gymadmin/gyms/createGym/" method="POST">


                {% csrf_token %}
                <div class="form-group">
                  <label for="id_name">Name</label>
                  <input type="text" class="form-control" name="name" maxlength="200" required id="id_name">
                </div>

                <div class="form-group">
                  <label for="id_location">Location:</label>
                  <input type="text" class="form-control" name="location" maxlength="200" required id="id_location">
                </div>

                <div class="form-group">
                  <label for="id_price">Average Cost:</label> 
                  <input type="number" class="form-control" name="price" required id="id_price">
                </div>

                <div class="form-group">
                  <label for="id_summary">Summary:</label>
                  <textarea class="form-control" name="summary" cols="40" rows="10" id="editor">
                  </textarea>
                </div>

                <div class="form-group">
                  <label for="id_featured_photo">Featured photo:</label> 
                  <input type="file" class="form-control-file" name="featured_photo" accept="image/*" id="id_featured_photo">
                </div>

                <div class="form-group">
                  <label for="id_user">User:</label> 
                  <input type="number" class="form-control" name="user" required id="id_user" aria-describedby="userHelp"> 
                  <small id="userHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <label for="id_user">Location:</label> 
                <div class="card mx-auto" style="width: 50rem;">
                  <div class="card-body">
                    <div id="map"></div>
                    </div>
                </div>
                <br/>
                <input type="hidden" id="lat" name="latitude" value=""/>
                <input type="hidden" id="lng" name="longitude" value=""/>
                <input type="submit" class="btn btn-primary" value="Submit" />

              </form>
            </div>
          </div>
            
    </div>


{% endblock %}
{% block body_js %}
<script src="https://cdn.tiny.cloud/1/c5vbgy7k4cfrhy4815qesauz1v9kpen45i75iyf9x0njlmid/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>

<script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY7NtkCVpx-xvsSR4C-P-fXqJSMQYuPjI&callback=initMap">
    </script>
{% endblock %} 